// Main Color 
$white: #fff;
$black: #000;
$success: #28a745; 
$warn: #ffc107;
$danger: #dc3545;

// Font 
$font-menu: #505158;
$font-card: #82828a;
$font-table-head: #6b6c72;

// Primary 
$primary-color: #00b11c;

// Body 
$body-bg: #fafafa;

// Icon 
$icon-color: #808080;

// Border 
$border-color: #d7d7d7;

// Dashboard 
$dashboard-bg: #fafafa;

// Card 
$card-icons:(
    "scan" : #000,
    "list" : #379cff,
    "cost" : #28b67b,
    "now" : #f38c29,
    "cheap" : #6967fa,
    "healthy" : #ea6261,
);

