.sidebar{
    width: $sidebar-width;
    background-color: white;
    transition: 0.4s all;

    
    @include breaks(mobile){
        z-index: 9;
        transform: translateX(-240px);
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

    }

    .menu{     
        .items{
            margin: 40px 0;
        }
        & .links{
            padding: 10px;
            font-size: $icon-size;
            text-decoration: none;
        }

        & span{
            color: $icon-color;
        }
    }
}

@include breaks(mobile)
{
    
    #toggle:checked ~ .sidebar{
        transform: translateX(0);
    }
    
    #toggle:checked ~ .content{
        filter: blur(8px);
    }
}
