.main-head{
    flex: $header-height;
    border-bottom: 1px solid $border-color;
    .head-left{
        width: $header-logo-width;  
        
        span{
            font-size: $icon-size;
        }
    }
    
    .head-right{
        padding: $header-padding;
        
        .search-box{
            height: $search-height;
            width: $search-width;
            padding-left: 10px;
            background-color: $body-bg;

            span{
                color: $icon-color
            }

            input{
                background-color: transparent;
                padding: 0 40px;
                margin-left: -10px;
            }
        }

        .profile{  
            width: $profile-width;

            span{
                font-size: 1.25rem;
                color: $icon-color;
            }

            img{
                width: 30px;
                margin-top: 5px;
                border-radius: 50%;
            }
        }
    }
}