.table-box{
    width: 70%;
    padding: 0 10px;
    
    .product-table{
        border: 1px solid green;

    }
}

.chart-box{
    width: 30%;
    padding: 0 10px;
    
    .chart{
        border: 1px solid red;
        
    }
}