@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Playfair+Display&family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.border-none {
  border: none;
}

.search-btn {
  background-color: #438ffe;
  color: #fff;
  padding: 0 20px;
}

.card-container {
  margin: 0px -20px;
}

.card-container .card-box {
  width: 25%;
  padding: 15px;
}

.card-container .card {
  height: 280px;
  padding: 20px;
  background-color: #fff;
}

.card-container .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container .card-logo {
  background-color: #edf4ff;
  color: #438ffe;
  font-size: 1.75rem;
  padding: 15px;
}

.card-container .card-graph {
  font-size: 1.5rem;
  color: #fe7f57;
}

.card-container .card-body {
  border-bottom: 1px solid #e5e7e9;
  padding: 20px 0 50px;
}

.card-container .card-body p {
  color: #adb3c1;
}

.card-container .card-body h2 {
  font-size: 2rem;
  color: #160e4d;
}

.card-container .card-status {
  padding: 10px 0;
}

.card-container .card-status p {
  color: #adb3c1;
  font-size: 0.8rem;
}

.card-view .card-logo {
  background-color: #edf4ff;
}

.card-product .card-logo {
  background-color: #f4f9f4;
}

.card-user .card-logo {
  background-color: #edf4ff;
}

.card-sell .card-logo {
  background-color: #f3f9f9;
}

.product-container {
  margin: 0px -20px;
}

.product-container .product-box {
  width: 65%;
  padding: 15px;
}

.product-container .product-box .product {
  background-color: #fff;
  height: auto;
  padding: 0 20px;
}

.product-container .product-box .product-table {
  border-collapse: collapse;
}

.product-container .product-box th, .product-container .product-box td {
  color: #160e4d;
  height: 80px;
  text-align: center;
}

.product-container .product-box td {
  font-size: 0.9rem;
  background-color: #f5f7f9;
  border-bottom: 20px solid #fff;
}

.chart-box {
  padding: 20px;
  width: 35%;
}

.chart-box .chart {
  background-color: #fff;
  height: 400px;
  padding: 20px;
}

.chart-box .chart-heading h2 {
  font-size: 1rem;
  color: #160e4d;
}

.chart-box .chart-heading p {
  color: #abb1bf;
  font-size: 0.8rem;
  width: 100px;
}

.main-head {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-bottom: 1px solid #edf4ff;
}

.main-head .head-left {
  width: 80px;
}

.main-head .head-left span {
  font-size: 1.25rem;
}

.main-head .head-right {
  padding: 0 30px;
}

.main-head .head-right .search-box {
  height: 35px;
  width: 400px;
  padding-left: 10px;
  background-color: #f8f8f8;
}

.main-head .head-right .search-box span {
  color: #abb1bf;
}

.main-head .head-right .search-box input {
  background-color: transparent;
  padding: 0 40px;
  margin-left: -10px;
}

.main-head .head-right .profile {
  width: 150px;
}

.main-head .head-right .profile span {
  font-size: 1.25rem;
  color: #abb1bf;
}

.main-head .head-right .profile img {
  width: 30px;
  margin-top: 5px;
  border-radius: 50%;
}

.content {
  z-index: 99;
  background-color: #f8f8f8;
  margin-left: 80px;
  padding: 30px 50px;
  overflow: auto;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.content label {
  top: 45%;
  left: 0;
  color: #abb1bf;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  cursor: pointer;
  font-size: 1.25rem;
}

.sidebar {
  width: 80px;
  background-color: white;
}

.sidebar .menu .items {
  margin: 40px 0;
}

.sidebar .menu .links {
  padding: 10px;
  font-size: 1.25rem;
  text-decoration: none;
}

.sidebar .menu span {
  color: #abb1bf;
}

.main-content input {
  display: none;
}

#toggle:checked ~ .content {
  margin-left: 0;
}

#toggle:checked ~ .content label {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.text-decoration {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}

h1 {
  color: #160e4d;
}
/*# sourceMappingURL=style.css.map */