// Color
$white: #fff;

// Border 
$border-color: #edf4ff;
$border-card: #e5e7e9;

// Icon 
$icon-color: #abb1bf;

// Main Colors 
$primany-color: #438ffe;
$body-bg: #f8f8f8;

// Text 
$text-header-color: #160e4d; 
$text-para: #adb3c1;

// Card 
$card-graph: #fe7f57;
$card-bg: #edf4ff;

$card-map:(
    "view" : #edf4ff,
    "product" : #f4f9f4,
    "user" : #edf4ff,
    "sell" : #f3f9f9,
)