// Color
$white: #fff;

// Main Colors 
$primany-color: #438ffe;
$body-bg: #f8f8f8;
$header-text-color: #160e4d; 

// Card Color 
$card-text: #b2b7c4;
$card-border: $card-text;
$card-hover: $primany-color;
$card-icon: #8bc38a;
$card-icoc-bg: #f4f9f4;

// Sidebar
$sidebar-icon: #abb1bf;

// Table 
$table-text:$header-text-color;
$table-active:$primany-color;   
$table-row-bg: $body-bg;

// Chart 
$chart-view: #83bcbd;
$chart-sell: #fe764b;

// Content 
$content-bg: $body-bg;