// All the SCSS Variables goes here

// Header 
$header-height: 0 0 90px;
$header-padding: 0 30px;

// Sidebar 
$sidebar-width: 0 0 100px;

// Font
$font-family: 'Josefin', sans-serif;
$heading: 2rem;

// Content 


// Card 

// Icons
$icon-size: 1.75rem;